# Файлы и папки операционной системы
.DS_Store
Thumbs.db


# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
public/bundle.js
public/bundle.js.map
=======
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.woff binary
*.woff2 binary

node_modules
.idea
.idea/workspace.xml

